<h3>Criar/Editar Aluno</h3>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="aluno.id" disabled value="I am not editable" id="disabled" type="text" class="validate">
        <label for="disabled">ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="aluno.nome" placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">Nome</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="aluno.email" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
  </div>
</div>
